<div class="col-md-12">
    <div class="row">
      <div class="col-md-6 bg-primary text-white col-md-vh-100 col-sm-vh-25  o-hidden">
          <div class="jumbotron-edit-home bg-primary col-lg-7 m-auto">
            <h1 class="display-4 title">Hola, LLegaste!</h1>
            <p class="lead d-none d-md-block">LoginApp es una aplicacion de prueba con la que busco fortalecer mis conocimientos en Angular6 y bootstrap</p>
            <hr class="my-4 d-none d-md-block">
            <div class="d-block">
                <p>Es facil hacer una aplicacion de este tipo y yo quiero compartir con usted como la hice.</p>
                <a class="btn btn-secondary btn-lg d-none d-md-block" href="#" routerLink="/" role="button">Leer mas</a>
            </div>
          </div>
      </div>
      <div class="col-md-6 col-md-vh-100 col-sm-vh-75">
          <app-login></app-login>
      </div>
    </div>
</div>