<div class="col-sm-10 col-md-9 col-lg-7 m-auto ">
  <h1 class="mt-4">Iniciar Sesión</h1>
  <form (submit)="onLoginEmail()">
    <div class="form-group">
      <input type="email" name="email" [(ngModel)]="userData.email" class="form-control" aria-describedby="emailHelp" placeholder="Correo electronico">
    </div>
    <div class="form-group">
      <input type="password" name="password" [(ngModel)]="userData.password" class="form-control" placeholder="Contraseña">
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
  </form>
  <hr class="my-4">
  <button class="btn btn-facebook btn-lg btn-block"><i class="fab fa-google-plus-square"></i> Entrar con Google</button>
  <button class="btn btn-facebook btn-lg mt-3 btn-block"><i class="fab fa-facebook-square"></i> Entrar con Facebook</button>
  <button class="btn btn-facebook btn-lg mt-3 btn-block"><i class="fab fa-twitter-square"></i> Entrar con Twitter</button>
  <hr class="my-4">
</div>